body{
    font-family: Retro Italics, Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
    color:black;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.container {
    border:1px solid white;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.item {
    font-size:30px; 
    font-family: Retro Italics;
}

.item-1 {
    
    grid-area: 1/ 1 / 1 / 1;
}

.item-2 {
   
    grid-area: 2 / 2 / 2 /2;
}

.item-3 { 
    
    grid-area: 3 / 3 / 3 / 3;
}
.scroll-container {
    width: 100%;  /* Full width */
    white-space: nowrap;  /* Prevents line breaks */
    overflow-x: auto;  /* Enables horizontal scrolling */
    scrollbar-width: none; /* Hides scrollbar (Firefox) */
    -ms-overflow-style: none; /* Hides scrollbar (Internet Explorer) */
    align-items: center;
}

.scroll-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar (Chrome, Safari) */
}


.item {
    display: inline-block; /* Makes items stay in a row */
    width: 15vh; /* Adjust width */
    height: 20vh;
    align-items: center;
    margin-top: 10vh;
    
}

